<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>741911403223-gjqnhv6dp4j4o8v7e2nmqt3b33h185sv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.741911403223-gjqnhv6dp4j4o8v7e2nmqt3b33h185sv</string>
	<key>API_KEY</key>
	<string>AIzaSyAG3wthn6H17p4edvkWk1ZPV05_a5hlZw0</string>
	<key>GCM_SENDER_ID</key>
	<string>741911403223</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.PaintourApp.Paintour</string>
	<key>PROJECT_ID</key>
	<string>sketch-c3044</string>
	<key>STORAGE_BUCKET</key>
	<string>sketch-c3044.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:741911403223:ios:c5a9cea6fa34cdd4c8ee92</string>
	<key>DATABASE_URL</key>
	<string>https://sketch-c3044-default-rtdb.firebaseio.com</string>
</dict>
</plist>